@require 'color.styl'

.sm-btn
  display inline-block
  vertical-align: baseline;
  text-align center
  text-align center
  text-overflow ellipsis
  white-space nowrap
  // background-color #fff
  // color #666
  background-color CPRIMARY
  border 1px solid transparent
  color #fff
  text-decoration none
  outline none
  appearance none
  
  font-size 100%
  line-height normal
  border-radius 2px
  padding 10px 16px
  &.space 
    margin-top 8px
  &.small
    font-size 14px
    padding 4px 10px
  &.middle
    font-size 14px
    padding 6px 12px
  &.large
    font-size 18px
    padding 10px 15px
  &.blank
    background-color #fff
    border 1px solid CGRAY
    color #666
  &.block
    width 100%
    display block
  &.success, &.info, &.danger, &.warning
    border transparent
    
  &.outline
    color CPRIMARY
    border 1px solid CPRIMARY
    background-color transparent!important
    &.blank
      border-color #666

    &.success, &.green
      border-color CSUCCESS
      color CSUCCESS
    &.info, &.blue
      border-color CINFO
      color CINFO
    &.danger, &.red
      border-color CDANGER
      color CDANGER
    &.warning, &.yellow
      border-color CWARNING
      color CWARNING
    &.dark-blue
      border-color CDARKBLUE
      color CDARKBLUE

  &.clear
    color CPRIMARY
    border-color transparent
    background-color transparent!important
    &.success, &.green
      color CSUCCESS
    &.info, &.blue
      color CINFO
    &.danger, &.red
      color CDANGER
    &.warning, &.yellow
      color CWARNING
    &.dark-blue
      color CDARKBLUE
  &.blank
    color #666
  &.success
    background-color CSUCCESS
  &.info
    background-color CINFO
  &.danger
    background-color CDANGER
  &.warning
    background-color CWARNING
  &[disabled]
    opacity 0.5
    pointer-events none

bg-mixins(".sm-btn")