@require 'color.styl'

.sm-btn
  display inline-block
  text-align center
  overflow hidden
  text-align center
  text-overflow ellipsis
  white-space nowrap
  background-color CPRIMARY
  color #fff
  text-decoration none
  outline none
  appearance none
  border none
  font-size 16px
  border-radius 2px
  padding 10px 20px
  &.space 
    margin-top 8px
  &.small
    font-size 14px
    padding 4px 10px
  &.middle
    font-size 14px
    padding 6px 12px
  &.blank
    background-color #fff
    border 1px solid CGRAY
    color #666
  &.block
    display block
  &.primary
    background-color CPRIMARY
  &.success
    background-color CSUCCESS
  &.info
    background-color CINFO
  &.danger
    background-color CDANGER
  &.warning
    background-color CWARNING
  &[disabled]
    opacity 0.5
    pointer-events none

bg-mixins(".sm-btn")