CDEFAULT = #bdc3c7
CTEA =CPRIMARY = #1abc9c
CGREEN = CSUCCESS = #2ecc71
CBLUE = CINFO = #3498db
CYELLOW = CWARNING = #f1c40f 
CRED = CERROR = CDANGER = #e74c3c
CDARK = #34495e
CGRAY = #95a5a6
CDARKBLUE = #34495e

CDTEA = #16a085
CDGREEN = #27ae60
CDBLUE = #2980b9
CDYELLOW = #f39c12
CDRED = #c0392b
CDDARKBLUE = #2c3e50

bg-mixins(selector)
  {selector}.green
    background-color CGREEN
  {selector}.blue
    background-color CBLUE
  {selector}.yellow
    background-color CYELLOW
  {selector}.red
    background-color CRED
  {selector}.dark-blue
    background-color CDARKBLUE
border-mixins(selector)
  {selector}.green
    border-color CGREEN
  {selector}.blue
    border-color CBLUE
  {selector}.yellow
    border-color CYELLOW
  {selector}.red
    border-color CRED
  {selector}.dark-blue
    border-color CDARKBLUE
  {selector}.white
    border-color #fff 

nav-mixins(selector)
  {selector}.green .active
    border-bottom 2px solid CGREEN
  {selector}.blue .active
    border-bottom 2px solid CBLUE
  {selector}.yellow .active
    border-bottom 2px solid CYELLOW
  {selector}.red .active
    border-bottom 2px solid CRED
  {selector}.dark-blue .active
    border-bottom 2px solid CDARKBLUE

segmented-mixins(selector)
  {selector}.green
    .active
      background-color CDGREEN
    > * 
      background-color CGREEN
  {selector}.blue 
    .active
      background-color CDBLUE
    > * 
      background-color CBLUE
  {selector}.yellow 
    .active
      background-color CDYELLOW
    > * 
      background-color CYELLOW
  {selector}.red 
    .active
      background-color CDRED
    > * 
      background-color CRED
  {selector}.dark-blue 
    .active
      background-color CDDARKBLUE
    > * 
      background-color CDARKBLUE

choosebox-mixins(selector)
  {selector}.green
    input::before
      border-color  CGREEN
    input:checked::before
      background-color CGREEN
  {selector}.blue 
    input::before
      border-color  CBLUE
    input:checked::before
      background-color CBLUE
  {selector}.yellow 
    input::before
      border-color  CYELLOW
    input:checked::before
      background-color CYELLOW
  {selector}.red 
    input::before
      border-color  CRED
    input:checked::before
      background-color CRED
  {selector}.dark-blue 
    input::before
      border-color  CDARKBLUE
    input:checked::before
      background-color CDARKBLUE
