.sm-list
  list-style none
  padding 0
  .label, .divider
    background-color #F5F5F5
    padding 5px 12px
    color #222
    font-size 12px

  .chevrons
    padding-right 25px

  .chevrons::after
    position absolute
    content ''
    border-top solid 2px #969696
    border-right solid 2px #969696
    right: 10px
    top: 50%
    width 8px
    height 8px
    margin-top -4px
    transform rotate(45deg)

  li, .item
    position relative
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
    padding 15px 15px 15px 15px
    color #444
    background-color #fff
    margin -1px 0 -1px 0
    &.item-img-left
      // padding-left 100px
      min-height 100px
      img
        display block
        float left
        width 80px
        height 80px
        margin -5px 0 -5px -5px
      h2
        font-size 16px
        padding-left 80px
        margin-bottom 4px
      p
        padding-left 80px;
        font-size 14px
        margin-bottom 0

  li:last-child, .sm-item:last-child
    // border-bottom none
  


      

.sm-badge
  display inline-block
  padding 2px 9px 3px
  font-size 12px
  line-height 1
  color #FFF
  background-color CPRIMARY
  border-radius 100px

bg-mixins(".sm-badge")



